discord.py==0.14.3
aiohttp
websockets
chardet
chatterbot
Pillow
youtube-dl
Requests
parsedatetime
psutil
pyparsing
pyquery
git+https://github.com/paulovn/python-aiml
pyspeedtest
pytz
wikipedia
mtranslate
git+https://github.com/shaunduncan/giphypop.git#egg=giphypop
numpy
weather-api
python-levenshtein
